#map-area {
  height: 400px;
  width: 600px;
  float: left;
  margin: 5px;
}

h1 {
  text-align: center;
  color: white;
  padding: 20px;
  background-color: green;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
}

#icon-info {
  background-color: cornflowerblue;
  width: 400px;
  height: 400px;
  float: left;
  margin: 5px;
}

#user-input {
  background-color: turquoise;
  width: 600px;
  height: 400px;
  float: left;
  margin: 5px;
  position: relative;
}

#search-results {
  background-color: red;
  width: 400px;
  height: 400px;
  float: left;
  margin: 5px;
}
#submit-info {
  position: absolute;
  bottom: 0;

}
