.navbar {
  height: 150px;
}

.img-responsive {
  margin-top: 0;
  border-radius: 180px;
  height: 150px;
  width: 300px;
}
/*body {

#map {
  height: 400px;
  width: 600px;
  float: left;
  margin: 5px;
  display: flex;
}*/
.container {
  height: 100vh;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.well {
  height: 500px;
  width: 500px;
  margin: 5px;
  /*align-items: center;*/
  /*align-content: center;*/
  /*justify-content: center;*/
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  float: top;
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: red;
}

/* #map-area {
  height: 500px;
  width: 500px;
} */

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

#legend h3 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
}

/* #icon-info {
  height: 500px;
  width: 500px;
} */

/* #user-input {
  width: 500px;
  height: 500px;
}*/

.btn-primary {
  background-color: #2f6d66 !important;
}

/* #search-results {
  width: 500px;
  height: 500px;
} */
/*#submit-Info {
  position: relative;
  margin-left: 10px;
}*/

#dropdownMenu1 {
  margin: auto;
}

#address-input {
  margin:auto;
}
/*.column {
  margin-left: 10px !important;
}*/

#selection-input {
  margin-top: 30px;
}

.gifImage {
  margin: 10px 0 10px 10px;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.numberModal-content,
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.funDisplay {
  margin: auto;
  display: inline-block;
}
.img-carousel {
  max-height: 250px;
  max-width: 250px;
  min-width: 250px;
  min-height: 250px;
}